<!doctype html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>RestaurantNow</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" href="/favicon.png"/>
  </head>

  <body>
    <nav class="container d-flex flex-wrap justify-content-center py-3 mb-4 text-dark border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-dark">
        <span class="fs-4">RestaurantNow</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link text-dark" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/login" class="nav-link text-dark">Iniciar Sesion</a></li>
        <li class="nav-item"><a href="/registro" class="nav-link text-dark">Registrarse</a></li>
      </ul>
    </nav>

    <main>
      <section class="container" id="pantalla_dividida">
        <article class="izquierda">
          <h1>RestaurantNow</h1>
          <p>No esperes tu comida, RESTaurant NOW! <br>Disfruta de la experiencia de un restaurante sin perdida de tiempo :) <br>
          <a href="/restaurantes" class="btn btn-dark my-2 btn-bg-black">Mostrar restaurantes</a></p>
        </article>
        <article class="derecha">
          <img class="como-img" src="/images/logo.png" alt="Logo">
        </article>
      </section>

      <section class="container border-top text-center">
        <h1 class="como-titulo">¿Como funciona?</h1>
        <article class="como-funciona">
          <article class="column">
            <img class="como-img" src="/images/cursor.png" alt="Imagen 1">
            <h1>Pide</h1>
            <p>Selecciona el restaurante que mas te guste y efectua tu pedido</p>
          </article>
          <article class="column">
            <img class="como-img" src="/images/tarjeta-bancaria.png" alt="Imagen 2">
            <h1>Paga</h1>
            <p>Realiza la reserva y paga desde nuestra plataforma</p>
          </article>
          <article class="column">
            <img class="como-img" src="/images/restaurante.png" alt="Imagen 3">
            <h1>Disfruta</h1>
            <p>Disfruta de tu pedido sin preocupaciones de tiempo ni facturas</p>
          </article>
        </article>
      </section>
    </main>

    <article class="footer">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <article class="col-md-4 d-flex items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img class="mb-4" src="/images/logo.jpg" alt="" width="50%" height="50%">
          </a>
          <span class="text-muted">&copy; 2023 RestaurantNow</span>
        </article>
      </footer>
    </article>
  </body>
</html>
