<!DOCTYPE html>
<html lang="es">
  <head>
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="../assets/css/main.css" rel="stylesheet" />
    <link href="../assets/css/estilos.css" rel="stylesheet" />
  </head>
  <body>
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container position-relative d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
          <img src="assets/img/logo.png" alt="" />
          <h1 class="sitename">RestaurantNow</h1>
          <span>.</span>
        </a>
        <nav id="navmenu" class="navmenu">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a
                href="/restaurantes"
                class="nav-link text-dark"
                aria-current="page"
                >Restaurantes</a
              >
            </li>
            <% if (!user) { %>
            <li class="nav-item">
              <a href="/login" class="nav-link text-dark">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a href="/registro" class="nav-link text-dark">Registrarse</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a href="/user/perfil" class="nav-link text-dark">Perfil</a>
            </li>
            <li class="nav-item">
              <a href="/user/mis-pedidos" class="nav-link text-dark"
                >Mis Pedidos</a
              >
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link text-dark">Cerrar Sesión</a>
            </li>
            <% } %>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a class="btn-getstarted" href="/restaurantes">Reservar</a>
      </div>
    </header>
    <main class="container d-flex flex-column align-items-center">
      <div class="tab-content" id="myTabContent">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="usuario-tab"
              data-toggle="tab"
              href="#usuario"
              role="tab"
              aria-controls="usuario"
              aria-selected="true"
              >Usuario</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="restaurante-tab"
              data-toggle="tab"
              href="#restaurante"
              role="tab"
              aria-controls="restaurante"
              aria-selected="false"
              >Restaurante</a
            >
          </li>
        </ul>
        <!-- Formulario de login para usuarios -->
        <div
          class="tab-pane fade show active"
          id="usuario"
          role="tabpanel"
          aria-labelledby="usuario-tab"
        >
          <form
            class="form-signin"
            action="/iniciarsesion-usuario"
            method="POST"
          >
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
              "
            >
              <img class="mb-4" src="assets/img/Logo.png" alt="logo" />
            </div>
            <h1 class="h3 mb-3 fw-normal">Iniciar sesión como Usuario</h1>
            <div class="form-floating">
              <label for="floatingInput">Email</label>
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@ejemplo.com"
                name="email"
                required
              />
            </div>
            <div class="form-floating mt-3">
              <label for="floatingPassword">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                name="contrasena"
                required
              />
              <a href="/recuperar-password" class="text-primary"
                >¿Olvidaste tu contraseña?</a
              >
            </div>
            <button class="btn btn-bg-black my-2" type="submit">
              Iniciar Sesión
            </button>
          </form>
        </div>

        <!-- Formulario de login para restaurantes -->
        <div
          class="tab-pane fade"
          id="restaurante"
          role="tabpanel"
          aria-labelledby="restaurante-tab"
        >
          <form
            class="form-signin"
            action="/iniciarsesion-restaurante"
            method="POST"
          >
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
              "
            >
              <img class="mb-4" src="assets/img/Logo.png" alt="logo" />
            </div>

            <h1 class="h3 mb-3 fw-normal">Iniciar sesión como Restaurante</h1>
            <div class="form-floating">
              <label for="floatingInputRestaurante">Email</label>
              <input
                type="email"
                class="form-control"
                id="floatingInputRestaurante"
                placeholder="name@ejemplo.com"
                name="email"
                required
              />
            </div>
            <div class="form-floating mt-3">
              <label for="floatingPasswordRestaurante">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="floatingPasswordRestaurante"
                placeholder="Password"
                name="contrasena"
                required
              />
            </div>
            <button class="btn btn-bg-black my-2" type="submit">
              Iniciar Sesión
            </button>
          </form>
        </div>
      </div>
    </main>

    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <div class="col-md-4 d-flex align-items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <img
            class="mb-4"
            src="assets/img/Logo.png"
            alt="Logo"
            width="50%"
            height="50%"
          />
        </a>
        <span class="footer-text">&copy; 2023 RestaurantNow</span>
      </div>
    </footer>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
</html>
