<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contrase침a</title>
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="text-center">
    <main class="container">
      <h1 class="h3 mb-3 fw-normal">Recuperar Contrase침a</h1>
      <form action="/recuperar-password" method="POST">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="name@ejemplo.com"
            required
          />
          <label for="email">Correo electr칩nico</label>
        </div>

        <br />
        <button class="btn btn-dark my-2 btn-bg-black" type="submit">
          Enviar Enlace de Recuperaci칩n
        </button>
      </form>
    </main>
  </body>
</html>
