<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contrase침a</title>
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="text-center">
    <div class="d-flex justify-content-center align-items-center">
      <div class="container mt-5 text-center">
        <% if (mensaje) { %>
        <div class="alert alert-<%= tipo %> mt-3"><%= mensaje %></div>
        <% } %>

        <h1 class="h3 mb-3 fw-normal">Recuperar Contrase침a</h1>
        <form action="/recuperar-password" method="POST">
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="name@ejemplo.com"
              required
            />
            <label for="email">Correo electr칩nico</label>
          </div>

          <br />
          <button class="btn btn-dark my-2 btn-bg-black" type="submit">
            Enviar Enlace de Recuperaci칩n
          </button>
        </form>
      </div>
    </div>
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <div class="col-md-4 d-flex align-items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <img
            class="mb-3"
            src="assets/img/Logo.png"
            alt="Logo"
            width="20%"
            height="20%"
          />
        </a>
        <span class="footer-text">&copy; 2023 RestaurantNow</span>
      </div>
    </footer>
  </body>
</html>
