<!DOCTYPE html>
<html lang="es">
  <head>
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/estilos.css" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>RestaurantNow</title>
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body class="text-center">
    <nav
      class="container d-flex flex-wrap justify-content-center py-3 mb-4 text-dark border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-dark"
      >
        <span class="fs-4">RestaurantNow</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/restaurantes" class="nav-link text-dark" aria-current="page"
            >Restaurantes</a
          >
        </li>
        <% if (!user) { %>
        <li class="nav-item">
          <a href="/login" class="nav-link text-dark">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a href="/registro" class="nav-link text-dark">Registrarse</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a href="/user/perfil" class="nav-link text-dark">Perfil</a>
        </li>
        <li class="nav-item">
          <a href="/user/mis-pedidos" class="nav-link text-dark">Mis Pedidos</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link text-dark">Cerrar Sesión</a>
        </li>
        <% } %>
      </ul>
    </nav>
    <main class="login">
      <br /><br />
      <form class="form-signin" action="/recover-password" method="POST">
        <img class="footer-logo" src="/images/Logo.png" alt="Logo" />
        <br />
        <h1 class="h3 mb-3 fw-normal">Introduce tu email</h1>
        <br />
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@ejemplo.com"
            name="email"
            required
          />
          <label for="floatingInput">Email</label>
        </div>
        <br />
        <div class="checkbox mb-3">
          <p class="small fw-bold mt-2 pt-1 mb-0">
            No tienes una cuenta?
            <a href="/registro" class="link-danger">Registrar</a>
          </p>
        </div>
        <button class="btn btn-dark my-2 btn-bg-black" type="submit">
          Recuperar Contraseña
        </button>
        <br /><br />
      </form>
    </main>
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <div class="col-md-4 d-flex items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <img class="footer-logo" src="/images/Logo.png" alt="Logo" />
        </a>
        <span class="text-muted">&copy; 2023 RestaurantNow</span>
      </div>
    </footer>
  </body>
</html>
